@using ControleDeContatos.Enums
@model UsuarioModel;
@{
    ViewData["Title"] = "Cadastrar Usuário";
}
<div class="text-center">
    <h1 class="display-4">Cadastrar Usuário</h1>
</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Digite o nome do usuário">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Digite o e-mail do usuário">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login" placeholder="Digite o login do usuário">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="perfil" class="form-label">Perfil</label>
        <select class="form-control" id="perfil" asp-for="Perfil">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Administrador">Administrador</option>
            <option value="@PerfilEnum.Padrão">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="senha" placeholder="Digite a senha do usuário">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <button type="submit" class="btn btn-success">Cadastrar</button>
    <a class="btn btn-primary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>